* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    background-image:url("pic.avif"); 
    background-size: cover;
    background-position: center;
}


.login-container {
    background-color: rgba(114, 114, 114, 0.818);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.797);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    width: 50%;
    padding: 10px;
    border: black;
    border-radius: 4px;
    background-color: #0ead0e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

